<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feri.car.user.dao.userMsgMapper">
  <resultMap id="BaseResultMap" type="com.bai.UserMsg">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_age" jdbcType="INTEGER" property="userAge" />
    <result column="user_sex" jdbcType="TINYINT" property="userSex" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="user_img" jdbcType="VARCHAR" property="userImg" />
    <result column="user_msg" jdbcType="VARCHAR" property="userMsg" />
    <result column="user_cion" jdbcType="INTEGER" property="userCion" />
  </resultMap>

</mapper>