<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bai.dao.VideoDao">
  <resultMap id="BaseResultMap" type="com.bai.Video">
    <result column="video_id" jdbcType="INTEGER" property="videoId" />
    <result column="video_name" jdbcType="VARCHAR" property="videoName" />
    <result column="video_msg" jdbcType="VARCHAR" property="videoMsg" />
    <result column="video_img" jdbcType="VARCHAR" property="videoImg" />
    <result column="video_src" jdbcType="VARCHAR" property="videoSrc" />
    <result column="video_type" jdbcType="INTEGER" property="videoType" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="ctime" jdbcType="TIMESTAMP" property="ctime" />
    <result column="video_looknum" jdbcType="INTEGER" property="videoLooknum" />
  </resultMap>
  
  <!-- 添加 视频-->
  <insert id="addVideo">
    insert into  belibeli.video(video_name, video_msg, video_img, video_src, video_type, user_id, ctime, video_looknum) value (#{videoName},#{videoMsg},#{videoImg},#{videoSrc},#{videoType},#{userId},now(),#{videoLooknum})
  </insert>
  
  <delete id="deleteVideo">
    delete from belibeli.video where video_id = #{videoId}
  </delete>

  <update id="updateVideo">
    update belibeli.video set video_name = #{videoName} , video_msg=#{videoMsg}, video_img = #{videoImg}  where video_id = #{videoId}
  </update>

  <select id="selUpVideo" resultMap="BaseResultMap">
    select * from belibeli.video where user_id = #{userId}
  </select>


</mapper>